/*Utilites*/
:root{
    --bf-primary: #1ABC9C;
    --bf-dark: black;
    --bf-secondary: #3A546D;
    --bf-secondary-dark: #2C3E50;
    --bf-light: white;
}
.bg_primary{
    background-color: var(--bf-primary);
}
.bg_secondary{
    background-color: var(--bf-secondary);
}
.bg_secondary_dark{
    background-color: var(--bf-secondary-dark);
}
.stella p{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1rem;
}
.stella p::before{
    content: "";
    width:8%;
    height:3px;
    display:inline-block;
    border-radius:10px;
    background-color:black;
}
.stella p::after{
   content: "";
    width:8%;
    height:3px; 
    display:inline-block;
    border-radius:10px;
    background-color:black;
}

img{
    max-width: 100%;
    border-radius: 10px;
}
.px_4{
    padding-left: 4rem;
    padding-right: 4rem;
}
/* #region_header */
/* #endregion_header */

/* main */
/* jumbotron */
.jumbotron .stella p::before { 
    background-color:white;
}
.jumbotron .stella p::after {
    background-color:white;
}
/* end_jumbotron */

/* about */

.about .stella p::before { 
    background-color:white;
}
.about .stella p::after {
    background-color:white;
}

/* end_about */

/* call_to_action */

.call_to_action p{
    font-weight: 500;
}
.info{
    font-size: 20px;
}
.circle{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_success{
    color: var(--bf-primary);
}
/* end_call_to_action */
/* end_main */

/* footer */
#site_footer{
    margin-bottom: -1rem;
 }
/* end_footer */